@font-face {
  font-family: "iconfont"; /* Project id 4320411 */
  src: url('iconfont.woff2?t=1699374041097') format('woff2'),
       url('iconfont.woff?t=1699374041097') format('woff'),
       url('iconfont.ttf?t=1699374041097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao:before {
  content: "\e670";
}

.icon-tubiaotongji:before {
  content: "\e66a";
}

.icon-a-tubiao2:before {
  content: "\eb41";
}

.icon-a-tubiao3:before {
  content: "\eb42";
}

